<div>
    <p>New book</p>
    <form action="/book/create" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="resume">Resume:</label><br>
        <textarea id="resume" name="resume"></textarea><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="editorial">Editorial:</label><br>
        <input type="text" id="editorial" name="editorial"><br>
        <label for="publicationDate">Publication date:</label><br>
        <input type="date" id="publicationDate" name="publicationDate"><br>
        <input type="submit" value="Create book">
    </form>
</div>